.App {
  text-align: center;
}


main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
#body {
  display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: auto; 
 grid-template-areas: "|.| none| ...";
}


#edit {
  color: whitesmoke;
  background-color: lightseagreen;
  border-color: grey;
}

#delete {
  color: whitesmoke;
  background-color: red;
  border-color: black;
}